{% extends 'realstate/base.html' %}
{% load static %}
{% block content %}

<!-- Page Header Start -->
<div class="hero page-inner overlay" style="background-image: url('/static/real/images/hero_bg_1.jpg')">
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-lg-9 text-center mt-5">
        <h1 class="heading" data-aos="fade-up">Blog</h1>

        <nav aria-label="breadcrumb" data-aos="fade-up" data-aos-delay="200">
          <ol class="breadcrumb text-center justify-content-center">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
            <li class="breadcrumb-item active text-white-50" aria-current="page">
              blog
            </li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
<!-- Page Header End -->


<div class="section">
  <div class="container">
  
    <div class="row"> 
       {% for i in blog %}
      <div class="col-3">
        <div class="col" class="property-item" >
          <div class="card h-100">
            <a href="{{i.get_absolute_urls}}" class="img">
              <img src="{{i.image.url}}" alt="Image" class="img-fluid" style="height: 210px; width: 260px;"/>
            </a>
            <div class="card-body">
              <a href="{{i.get_absolute_urls}}">
                <h5 class="card-title" style="color: #005555;">{{i.title}}</h5>
              </a>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p><a href="#" style="color: #005555;">Read more...</a>
            </div>
          </div>
        </div>


      

        <!-- <div class="card" style="width: 18rem;">
          <img src="{% static 'real/images/hero_bg_1.jpg' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <a href="{{i.get_absolute_urls}}">
              <h5 class="card-title" style="color: #005555;">{{i.title}}</h5>
            </a>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p><a href="#" style="color: #005555;">Read more...</a>
          </div>
        </div> -->
      </div> 
      {% endfor %}
    </div>


   


  </div>
</div>












{% endblock content %}