{% extends 'realstate/base.html' %}
{% load static %}
{% block content %}

    <div
      class="hero page-inner overlay"
      style="background-image: url('/static/real/images/hero_bg_3.jpg')"
    >
      <div class="container">
        {% for i in pro %}
        <div class="row justify-content-center align-items-center">

          
          <div class="col-lg-9 text-center mt-5">
            <h1 class="heading" data-aos="fade-up">
              5232 California AVE. 21BC
            </h1>

            <nav
              aria-label="breadcrumb"
              data-aos="fade-up"
              data-aos-delay="200"
            >
              <ol class="breadcrumb text-center justify-content-center">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item">
                  <a href="properties.html">Properties</a>
                </li>
                <li
                  class="breadcrumb-item active text-white-50"
                  aria-current="page"
                >
                  5232 California AVE. 21BC
                </li>
              </ol>
            </nav>
          </div>
          
        </div>
      </div>
    </div>

    <div class="section">
      <div class="container">
        <div class="row justify-content-between">
          <div class="col-lg-7">
            <div class="img-property-slide-wrap">
              <div class="img-property-slide">
                <img src="{{i.image.url}}" alt="Image" class="img-fluid" />
                <img src="{% static 'real/images/img_2.jpg' %}" alt="Image" class="img-fluid" />
                <img src="{% static 'real/images/img_3.jpg' %}" alt="Image" class="img-fluid" />
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <h2 class="heading text-primary">{{i.name_of_property}}</h2>
            <p class="meta">{{i.name_of_property}}</p>
            <p class="text-black-50">

              {{i.total_flat_in_property}}{{i.city}}{{i.name_of_property}}{{i.total_floor}}
              {{i.floor_number}}
              {{i.furnished_status}}{{i.number_of_bathroom}}{{i.super_area}}
              {{i.build_up_area }}{{i.carpet_area}}{{i.transaction_type }}{{i.available_from}}{{i.expected_price}}
              {{i.maintanance_charge_per_month}}


              <br><br><br><br><br><br>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ratione
              laborum quo quos omnis sed magnam id, ducimus saepe, debitis error
              earum, iste dicta odio est sint dolorem magni animi tenetur.
            </p>
            <p class="text-black-50">
              Perferendis eligendi reprehenderit, assumenda molestias nisi eius
              iste reiciendis porro tenetur in, repudiandae amet libero.
              Doloremque, reprehenderit cupiditate error laudantium qui, esse
              quam debitis, eum cumque perferendis, illum harum expedita.
            </p>

            <div class="d-block agent-box p-5">
              <div class="img mb-4">
                <img
                  src="{% static 'real/images/person_2-min.jpg' %}"
                  alt="Image"
                  class="img-fluid"
                />
              </div>
              <div class="text">
                <h3 class="mb-0">Alicia Huston</h3>
                <div class="meta mb-3">Real Estate</div>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Ratione laborum quo quos omnis sed magnam id ducimus saepe
                </p>
                <ul class="list-unstyled social dark-hover d-flex">
                  <li class="me-1">
                    <a href="#"><span class="icon-instagram"></span></a>
                  </li>
                  <li class="me-1">
                    <a href="#"><span class="icon-twitter"></span></a>
                  </li>
                  <li class="me-1">
                    <a href="#"><span class="icon-facebook"></span></a>
                  </li>
                  <li class="me-1">
                    <a href="#"><span class="icon-linkedin"></span></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
    
    {% endblock content %}