{% extends 'realstate/base.html' %}
{% load static %}
{% block content %}
<!--hero section-->
<div class="hero page-inner overlay" style="background-image: url('/static/real/images/hero_bg_3.jpg')">
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-lg-9 text-center mt-5">
        <h1 class="heading" data-aos="fade-up">
          5232 California AVE. 21BC
        </h1>
        <nav aria-label="breadcrumb" data-aos="fade-up" data-aos-delay="200">
          <ol class="breadcrumb text-center justify-content-center">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item">
              <a href="properties.html">Properties</a>
            </li>
            <li class="breadcrumb-item active text-white-50" aria-current="page">
              5232 California AVE. 21BC
            </li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
<!-- end hero section-->



<div class="section">
  <div class="container">
    <div class="row">      
      <div class="col-6">
        <div class="img-property-slide-wrap">
          <div class="img-property-slide">
            <img src="{{propslug.image.url}}" alt="Image" class="img-fluid" />
            <img src="{{propslug.image2.url}}" alt="Image" class="img-fluid" />
            <img src="{{propslug.image3.url}}" alt="Image" class="img-fluid" />
          </div>
        </div>
      </div>
      <div class="col-6">
        <h2 class="heading text-primary">{{propslug.name_of_property}}</h2>
        <p class="meta">{{propslug.name_of_property}}</p>
        <p class="text-black-50">
          The expected price of Dashita Apartment is ₹{{propslug.expected_price}} per square ft.
          It is a {{propslug.transaction_type }} property with a total of {{propslug.total_flat_in_property}} flats in {{i.city}},
          offering {{propslug.number_of_bedrooms}} bedrooms and {{propslug.number_of_bathroom}} bathrooms.
          The property is {{propslug.transaction_type }}, and it has a super area of {{propslug.super_area}} sq. ft., build-up area of
          {{propslug.build_up_area }} sq. ft.,
          and a carpet area of {{propslug.carpet_area}} sq. ft. The maintenance charge per month is
          {{propslug.maintanance_charge_per_month}} the provided
          information.
          The property is available for purchase from the specified date, {{propslug.available_from}}.
        </p>
      </div>    
    </div>
  </div>
</div>
{% endblock content %}