{% extends 'base.html' %}
{% load static %}
{% block content %}

    

    <!-- About Start -->
    <div class="container-xxl py-5">
      <div class="container">
        <div class="row g-5">
          <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
            <p><span class="text-primary me-2">#</span>Welcome To VIshalaksha</p>
            <h1 class="display-5 mb-4">
             Welcome To <span class="text-primary">VIshalaksha</span>
               
            </h1>
            <p class="mb-4">
              
              <b>Vishalaksha Private Limited </b>diverse ventures providing expert solutions and services
              Vishalaksha Private Limited offers diverse services through its various ventures. Vishalaksha
              Consultancy provides expert consulting solutions. Vishalaksha Real Estate specializes in real
              estate transactions. Vishalaksha Foods offers a wide range of culinary delights. Fetching
              delivers unique services in its domain. Vishalaksha Media provides comprehensive media
              solutions.

            </p>
            <p><span class="text-primary me-2">#</span>We provide best services</p>
            <h5 class="mb-3">
              <i class="far fa-check-circle text-primary me-3"></i> Vishalaksha Consultancy
            </h5>            
            <h5 class="mb-3">
              <i class="far fa-check-circle text-primary me-3"></i>Vishalaksha Realestate
            </h5>
            <h5 class="mb-3">
              <i class="far fa-check-circle text-primary me-3"></i>Vishalaksha Foods
              
            </h5>
            <h5 class="mb-3">
              <i class="far fa-check-circle text-primary me-3"></i>Vishalaksha Tech
              
            </h5>
            <!-- <a class="btn btn-primary py-3 px-5 mt-3" href="">Read More</a> -->
          </div>
          <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
            <div class="img-border">
              <img class="img-fluid" src="static/img/about2.jpg" alt="" />
            </div>
          </div>
        </div>
        <br>
        <div class="row g-5">
          <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
            <div class="img-border">
              <img class="img-fluid" src="static/img/about/about3.jpg" alt="" />
            </div>
          </div>
          <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
            <h5 class="mb-3">
              <i class="far fa-check-circle text-primary me-3"></i>Vishalaksha Consultancy
            </h5>
            
            
            <p class="mb-4">
              
              We are providing consultancy in different sectors like Energy 
Efficiency, Renewable energy, Power Plant Establishment, Tourism Sector etc. 
These are the services: -<br> 
<b>Feasibility report:</b> Concise feasibility report evaluating project viability, analysing costs, risks, 
and benefits to assist in decision-making. <b>Detailed Project Report Preparation:</b> Preparing comprehensive project report encompassing all 
aspects in industry, fisheries, tourism, hospitals including financial, technical, market analysis, 
to aid in project evaluation and implementation. <b>Bid process Management:</b> Efficiently managing the bid process, including vendor evaluation, 
documentation, and negotiations, to ensure successful procurement and contract execution.<b>To provide Manpower support:</b> Delivering manpower support by supplying skilled workers, 
managing recruitment, training, and personnel administration to meet operational needs. <b>Project Management consultancy:</b> Offering project management consultancy services, 
providing expertise, guidance, and oversight to ensure successful project planning, 
execution, and completion. <b>Project Management Unit:</b> Establishing and operating a dedicated project management unit 
to oversee project planning, implementation, monitoring, and evaluation for optimal project 
outcomes. <b>Engineering Drawing and Designing preparation:</b> Preparing engineering drawings and designs, 
utilizing industry-standard software and techniques, to ensure accurate and detailed 
specifications for construction and manufacturing projects.

            </p>
           
            <a class="btn btn-primary py-3 px-5 mt-3" href="">Read More</a> 
          </div>
          
        </div>
        <br>
        <div class="row g-5">
          <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
            <h5 class="mb-3">
              <i class="far fa-check-circle text-primary me-3"></i>Vishalaksha Real-estate
            </h5>
            <p class="mb-4">
              
              <b>Property Rent service:</b> Offering reliable and convenient property rental services, ensuring 
              smooth transactions and satisfaction for both tenants and landlords. <b>Property Sale service:</b> Providing efficient and effective property sales services, delivering 
              seamless transactions for buyers and sellers with expertise and reliability. <b>Property Lease service:</b> Offering trustworthy and professional property leasing services for 
              landlords and tenants, ensuring reliable and hassle-free experiences.

            </p>
            
            
           <a class="btn btn-primary py-3 px-5 mt-3" href="">Read More</a>
          </div>
          <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
            <div class="img-border">
              <img class="img-fluid" src="static/img/about/about2.jpg" alt="" />
            </div>
          </div>
        </div>
        <br>
        <div class="row g-5">
          <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
            <div class="img-border">
              <img class="img-fluid" src="static/img/about/about4.jpg" alt="" />
            </div>
          </div>
          <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
            <h5 class="mb-3">
              <i class="far fa-check-circle text-primary me-3"></i>Vishalaksha Foods
            </h5>
            
            
            <p class="mb-4">
              
              <b>Import-export service:</b> Import-export service for makhana, millet biscuits, rice, wheat etc. 
              ensuring seamless trade through documentation, logistics, and sourcing.
              

            </p>

            <a class="btn btn-primary py-3 px-5 mt-3" href="">Read More</a> 
          </div>
          
        </div>
        <br>
        <div class="row g-5">
          <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
            <h5 class="mb-3">
              <i class="far fa-check-circle text-primary me-3"></i>Vishalaksha Tech
            </h5>
            
            
            <p class="mb-4">
              
              Comprehensive media solutions and services. &  <b>SCO Service </b>- Optimize Website, Rank Better, More Traffic, And Increase in Sales. SEO does it 
              all. We offer SEO services at very best prices., <b>Social media</b> - Reach out to more people, increase awareness, and grow your followers, sales 
              and traffic from social channels. Invest in social media Now!<b>Web development</b> - Present your concept to your online buyers with the right web 
              development services. Get Free Quote Now for your website project!<b>Web Design</b> - Web design services help you to make a perfectly designed website for your 
              business to increase UI/UX, <b>Sofware development</b> - Developing customized software solutions, leveraging programming 
              languages and technologies, to meet specific business needs and enhance operational 
              efficiency.<b>ORM Service</b> - Got some bad reviews/ratings and looking to build better online reputation? 
              Get FREE Quote now! 

            </p>
           
            <a class="btn btn-primary py-3 px-5 mt-3" href="">Read More</a> 
          </div>
          <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
            <div class="img-border">
              <img class="img-fluid" src="static/img/about/about5.jpg" alt="" />
            </div>
          </div>
          
          
        </div>


       
      </div>
    </div>
    <!-- About End -->

    <!-- Facts Start -->
    <div
      class="container-xxl bg-primary facts my-5 py-5 wow fadeInUp"
      data-wow-delay="0.1s"
    >
      <div class="container py-5">
        <div class="row g-4">
          <div
            class="col-md-6 col-lg-3 text-center wow fadeIn"
            data-wow-delay="0.1s"
          >
            <i class="fa fa-paw fa-3x text-primary mb-3"></i>
            <h1 class="text-white mb-2" data-toggle="counter-up">12345</h1>
            <p class="text-white mb-0">Total Animal</p>
          </div>
          <div
            class="col-md-6 col-lg-3 text-center wow fadeIn"
            data-wow-delay="0.3s"
          >
            <i class="fa fa-users fa-3x text-primary mb-3"></i>
            <h1 class="text-white mb-2" data-toggle="counter-up">12345</h1>
            <p class="text-white mb-0">Daily Vigitors</p>
          </div>
          <div
            class="col-md-6 col-lg-3 text-center wow fadeIn"
            data-wow-delay="0.5s"
          >
            <i class="fa fa-certificate fa-3x text-primary mb-3"></i>
            <h1 class="text-white mb-2" data-toggle="counter-up">12345</h1>
            <p class="text-white mb-0">Total Membership</p>
          </div>
          <div
            class="col-md-6 col-lg-3 text-center wow fadeIn"
            data-wow-delay="0.7s"
          >
            <i class="fa fa-shield-alt fa-3x text-primary mb-3"></i>
            <h1 class="text-white mb-2" data-toggle="counter-up">12345</h1>
            <p class="text-white mb-0">Save Wild Life</p>
          </div>
        </div>
      </div>
    </div>
    <!-- Facts End -->

    <!-- Testimonial Start -->
     <!-- Testimonial Start -->
     <div class="container-xxl py-5">
      <div class="container">
        <h1
          class="display-5 text-center mb-5 wow fadeInUp"
          data-wow-delay="0.1s"
        >
          Our Clients Say!
        </h1>
        <div
          class="owl-carousel testimonial-carousel wow fadeInUp"
          data-wow-delay="0.1s"
        >
          <div class="testimonial-item text-center">
            <img
              class="img-fluid rounded-circle border border-2 p-2 mx-auto mb-4"
              src="{% static 'img/testimonial-1.jpg' %}"
              style="width: 100px; height: 100px"
            />
            <div class="testimonial-text rounded text-center p-4">
              <p>
                
"Vishalaksha Private Limited has been a game-changer for our business. Their professional and innovative approach helped us navigate challenges, optimize operations, and achieve remarkable growth. Highly recommended!"
              </p>
              <h5 class="mb-1">Rishu</h5>
              <span class="fst-italic">Profession</span>
            </div>
          </div>
          <div class="testimonial-item text-center">
            <img
              class="img-fluid rounded-circle border border-2 p-2 mx-auto mb-4"
              src="{% static 'img/testimonial-2.jpg' %}"
              style="width: 100px; height: 100px"
            />
            <div class="testimonial-text rounded text-center p-4">
              <p>
                
                "Working with Vishalaksha Private Limited was a game-changer for our company. Their expert guidance and personalized solutions significantly improved our performance and profitability. We are thrilled with the results!"
              </p>
              <h5 class="mb-1">Patient Name</h5>
              <span class="fst-italic">Profession</span>
            </div>
          </div>
          <div class="testimonial-item text-center">
            <img
              class="img-fluid rounded-circle border border-2 p-2 mx-auto mb-4"
              src="{% static 'img/testimonial-3.jpg' %}"
              style="width: 100px; height: 100px"
            />
            <div class="testimonial-text rounded text-center p-4">
              <p>
                
                "Vishalaksha Private Limited exceeded our expectations with their exceptional business consultancy. Their insightful strategies and dedicated team helped us achieve unprecedented success and establish a strong competitive edge in our industry."</p>
              <h5 class="mb-1">Patient Name</h5>
              <span class="fst-italic">Profession</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Testimonial End -->
    <!-- Testimonial End -->

    {% endblock content %}