{% extends "base.html" %}
{% load static %}
{% block content %}
  
<!-- Header Start -->
<div class="container-fluid bg-dark p-0 mb-5" style="height: 720px;">
  <div class="" style="height: 720px;">
    <div class=" p-0 wow fadeIn" data-wow-delay="0.1s" style="height: 100%;">
      <div
        class="header-bg h-100 d-flex flex-column justify-content-center p-5"  style="background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url(static/img/row-bgimage-4.png) center center no-repeat;
        background-size: cover;"
      >
        <h1 class="display-3  mb-5  justify-content-center animate-charcter " style="display:flex">
          Vishalaksha Private Limited
        </h1>
        <h3 class="display-8 text-light mb-5  justify-content-center fade-in-text " style="display:flex">
          Your Trust Our Priority
        </h3>
        <div class="d-flex align-items-center pt-4 animated slideInDown mb-5  justify-content-center " style="display:flex">
          <a href="" class="btn btn-primary py-sm-3 px-3 px-sm-5 me-5"
            >Our-services</a
          >
          <!-- <button
            type="button"
            class="btn-play"
            data-bs-toggle="modal"
            data-src="https://www.youtube.com/embed/DWRcNpR6Kdc"
            data-bs-target="#videoModal"
          >
            <span></span>
          </button>
          <h6 class="text-white m-0 ms-4 d-none d-sm-block">Watch Video</h6> -->
        </div>
      </div>
    </div>
    
  </div>
</div>
<!-- Header End -->

  <!-- Service Start -->
  <div class="container-xxl py-5">
    <div class="container">
      <div class="row g-5 mb-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="col-lg-6">
          <p><span class="text-primary me-2 slideInDown ">#</span>Our Services</p>
          <h1 class="display-5 mb-0">
            Our Services 
            <!-- <span class="text-primary">Vishalaksha</span> Visitors -->
          </h1>
        </div>
        <div class="col-lg-6">
          <div
            class="bg-primary h-100 d-flex align-items-center py-4 px-4 px-sm-5"
          >
            <i class="fa fa-3x fa-mobile-alt text-white"></i>
            <div class="ms-4">
              <p class="text-white mb-0">Call for more info</p>
              <h2 class="text-white mb-0">+91 8809855528</h2>
            </div>
          </div>
        </div>
      </div>
      <div class="row gy-5 gx-4">
        <!-- <div
          class="col-lg-3 col-md-4 col-sm-6 wow fadeInUp"
          data-wow-delay="0.1s"
        >
          <img class="img-fluid mb-3" src="{% static 'img/icon/icon-2.png" alt="Icon" />
          <h5 class="mb-3">Car Parking</h5>
          <span
            >Erat ipsum justo amet duo et elitr dolor, est duo duo eos lorem
            sed diam stet diam sed stet.</span
          >
        </div>
        <div
          class="col-lg-3 col-md-4 col-sm-6 wow fadeInUp"
          data-wow-delay="0.3s"
        >
          <img class="img-fluid mb-3" src="{% static 'img/icon/icon-3.png" alt="Icon" />
          <h5 class="mb-3">Animal Photos</h5>
          <span
            >Erat ipsum justo amet duo et elitr dolor, est duo duo eos lorem
            sed diam stet diam sed stet.</span
          >
        </div>
        <div
          class="col-lg-3 col-md-4 col-sm-6 wow fadeInUp"
          data-wow-delay="0.5s"
        >
          <img class="img-fluid mb-3" src="{% static 'img/icon/icon-4.png" alt="Icon" />
          <h5 class="mb-3">Guide Services</h5>
          <span
            >Erat ipsum justo amet duo et elitr dolor, est duo duo eos lorem
            sed diam stet diam sed stet.</span
          >
        </div>
        <div
          class="col-lg-3 col-md-4 col-sm-6 wow fadeInUp"
          data-wow-delay="0.7s"
        >
          <img class="img-fluid mb-3" src="{% static 'img/icon/icon-5.png" alt="Icon" />
          <h5 class="mb-3">Food & Beverages</h5>
          <span
            >Erat ipsum justo amet duo et elitr dolor, est duo duo eos lorem
            sed diam stet diam sed stet.</span
          >
        </div> -->

<br> 
<br>
        <div class="row slideInDown" style="margin-top: 30px;">
          <div class="col-lg-3 col-sm-6">
            <a href="/" class="services-small-item ">
              <div class="icon">
                  <i class="fa-solid fa-wheat-awn-circle-exclamation"></i>
              </div>
              <h5 class="services-title slideInDown ">Vishalaksha Foods</h5>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
              <div class="button">
                <i class="fa fa-chevron-right"></i>
              </div>
            </a>
            
          </div>
          <div class="col-lg-3 col-sm-6">
            <a href="/" class="services-small-item">
              <div class="icon">
                  <i class="fa-solid fa-building-user"></i>
              </div>
              <h5 class="services-title">Vishalaksha Realstate</h5>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
              <div class="button">
                <i class="fa fa-chevron-right"></i>
              </div>
            </a>
            
          </div>
          <div class="col-lg-3 col-sm-6">
            <a href="/" class="services-small-item">
              <div class="icon">
                  <i class="fa-sharp fa-solid fa-code"></i>
              </div>
              <h5 class="services-title">Vishalaksha Tech</h5>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
              <div class="button">
                <i class="fa fa-chevron-right"></i>
              </div>
            </a>
            
          </div>
          <div class="col-lg-3 col-sm-6">
            <a href="/" class="services-small-item">
              <div class="icon">
                  <i class="fa-solid fa-users"></i>
              </div>
              <h5 class="services-title">Vishalaksha Consultancy</h5>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
              <div class="button">
                <i class="fa fa-chevron-right"></i>
              </div>
            </a>
           
          </div>
        </div>
        


      </div>
    </div>
  </div>
  <!-- Service End -->
    <!-- Video Modal Start -->
    <div
      class="modal modal-video fade"
      id="videoModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content rounded-0">
          <div class="modal-header">
            <h3 class="modal-title" id="exampleModalLabel">Youtube Video</h3>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <!-- 16:9 aspect ratio -->
            <div class="ratio ratio-16x9">
              <iframe
                class="embed-responsive-item"
                src=""
                id="video"
                allowfullscreen
                allowscriptaccess="always"
                allow="autoplay"
              ></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Video Modal End -->

    <!-- About Start -->
    <div class="container-xxl py-5">
      <div class="container">
        <div class="row g-5">
          <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
            <p><span class="text-primary me-2">#</span>Welcome To VIshalaksha</p>
            <h1 class="display-5 mb-4">
             Welcome To <span class="text-primary">VIshalaksha</span>
               
            </h1>
            <p class="mb-4">
              
              <b>Vishalaksha Private Limited </b>diverse ventures providing expert solutions and services
              Vishalaksha Private Limited offers diverse services through its various ventures. Vishalaksha
              Consultancy provides expert consulting solutions. Vishalaksha Real Estate specializes in real
              estate transactions. Vishalaksha Foods offers a wide range of culinary delights. Fetching
              delivers unique services in its domain. Vishalaksha Media provides comprehensive media
              solutions.

            </p>
            <p><span class="text-primary me-2">#</span>We provide best services</p>
            <h5 class="mb-3">
              <i class="far fa-check-circle text-primary me-3"></i> Vishalaksha Consultancy
            </h5>            
            <h5 class="mb-3">
              <i class="far fa-check-circle text-primary me-3"></i>Vishalaksha Realestate
            </h5>
            <h5 class="mb-3">
              <i class="far fa-check-circle text-primary me-3"></i>Vishalaksha Foods
              
            </h5>
            <h5 class="mb-3">
              <i class="far fa-check-circle text-primary me-3"></i>Vishalaksha Tech
              
            </h5>
             <a class="btn btn-primary py-3 px-5 mt-3" href="">Read More</a>
          </div>
          <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
            <div class="img-border">
              <img class="img-fluid" src="static/img/about2.jpg" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- About End -->

    <!-- Facts Start -->
    <div
      class="container-xxl bg-primary facts my-5 py-5 wow fadeInUp"
      data-wow-delay="0.1s"
    >
      <div class="container py-5">
        <div class="row g-4">
          <div
            class="col-md-6 col-lg-3 text-center wow fadeIn"
            data-wow-delay="0.1s"
          >
            <i class="fa fa-paw fa-3x text-primary mb-3"></i>
            <h1 class="text-white mb-2" data-toggle="counter-up">12345</h1>
            <p class="text-white mb-0">Total Animal</p>
          </div>
          <div
            class="col-md-6 col-lg-3 text-center wow fadeIn"
            data-wow-delay="0.3s"
          >
            <i class="fa fa-users fa-3x text-primary mb-3"></i>
            <h1 class="text-white mb-2" data-toggle="counter-up">12345</h1>
            <p class="text-white mb-0">Daily Vigitors</p>
          </div>
          <div
            class="col-md-6 col-lg-3 text-center wow fadeIn"
            data-wow-delay="0.5s"
          >
            <i class="fa fa-certificate fa-3x text-primary mb-3"></i>
            <h1 class="text-white mb-2" data-toggle="counter-up">12345</h1>
            <p class="text-white mb-0">Total Membership</p>
          </div>
          <div
            class="col-md-6 col-lg-3 text-center wow fadeIn"
            data-wow-delay="0.7s"
          >
            <i class="fa fa-shield-alt fa-3x text-primary mb-3"></i>
            <h1 class="text-white mb-2" data-toggle="counter-up">12345</h1>
            <p class="text-white mb-0">Save Wild Life</p>
          </div>
        </div>
      </div>
    </div>
    <!-- Facts End -->

  

    <!-- Animal Start -->
    <!-- <div class="container-xxl py-5">
      <div class="container">
        <div
          class="row g-5 mb-5 align-items-end wow fadeInUp"
          data-wow-delay="0.1s"
        >
          <div class="col-lg-6">
            <p><span class="text-primary me-2">#</span>Our Animals</p>
            <h1 class="display-5 mb-0">
              Let`s See Our <span class="text-primary">Vishalaksha</span> Awsome
              Animals
            </h1>
          </div>
          <div class="col-lg-6 text-lg-end">
            <a class="btn btn-primary py-3 px-5" href=""
              >Explore More Animals</a
            >
          </div>
        </div>
        <div class="row g-4">
          <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
            <div class="row g-4">
              <div class="col-12">
                <a
                  class="animal-item"
                  href="{% static 'img/animal-md-1.jpg' %}"
                  data-lightbox="animal"
                >
                  <div class="position-relative">
                    <img class="img-fluid" src="{% static 'img/animal-md-1.jpg' %}" alt="" />
                    <div class="animal-text p-4">
                      <p class="text-white small text-uppercase mb-0">Animal</p>
                      <h5 class="text-white mb-0">Elephant</h5>
                    </div>
                  </div>
                </a>
              </div>
              <div class="col-12">
                <a
                  class="animal-item"
                  href="{% static 'img/animal-lg-1.jpg' %}"
                  data-lightbox="animal"
                >
                  <div class="position-relative">
                    <img class="img-fluid" src="{% static 'img/animal-lg-1.jpg' %}" alt="" />
                    <div class="animal-text p-4">
                      <p class="text-white small text-uppercase mb-0">Animal</p>
                      <h5 class="text-white mb-0">Elephant</h5>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
            <div class="row g-4">
              <div class="col-12">
                <a
                  class="animal-item"
                  href="{% static 'img/animal-lg-2.jpg' %}"
                  data-lightbox="animal"
                >
                  <div class="position-relative">
                    <img class="img-fluid" src="{% static 'img/animal-lg-2.jpg' %}" alt="" />
                    <div class="animal-text p-4">
                      <p class="text-white small text-uppercase mb-0">Animal</p>
                      <h5 class="text-white mb-0">Elephant</h5>
                    </div>
                  </div>
                </a>
              </div>
              <div class="col-12">
                <a
                  class="animal-item"
                  href="{% static 'img/animal-md-2.jpg' %}"
                  data-lightbox="animal"
                >
                  <div class="position-relative">
                    <img class="img-fluid" src="{% static 'img/animal-md-2.jpg' %}" alt="" />
                    <div class="animal-text p-4">
                      <p class="text-white small text-uppercase mb-0">Animal</p>
                      <h5 class="text-white mb-0">Elephant</h5>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
            <div class="row g-4">
              <div class="col-12">
                <a
                  class="animal-item"
                  href="{% static 'img/animal-md-3.jpg' %}"
                  data-lightbox="animal"
                >
                  <div class="position-relative">
                    <img class="img-fluid" src="{% static 'img/animal-md-3.jpg' %}" alt="" />
                    <div class="animal-text p-4">
                      <p class="text-white small text-uppercase mb-0">Animal</p>
                      <h5 class="text-white mb-0">Elephant</h5>
                    </div>
                  </div>
                </a>
              </div>
              <div class="col-12">
                <a
                  class="animal-item"
                  href="{% static 'img/animal-lg-3.jpg' %}"
                  data-lightbox="animal"
                >
                  <div class="position-relative">
                    <img class="img-fluid" src="{% static 'img/animal-lg-3.jpg' %}" alt="" />
                    <div class="animal-text p-4">
                      <p class="text-white small text-uppercase mb-0">Animal</p>
                      <h5 class="text-white mb-0">Elephant</h5>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->
    <!-- Animal End -->

    <!-- Visiting Hours Start -->
    <div
      class="container-xxl bg-primary visiting-hours my-5 py-5 wow fadeInUp"
      data-wow-delay="0.1s"
    >
      <div class="container py-5">
        <div class="row g-5">
          <div class="col-md-6 wow fadeIn" data-wow-delay="0.3s">
            <h1 class="display-6 text-white mb-5">Visiting Hours</h1>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <span>Monday</span>
                <span>9:00AM - 6:00PM</span>
              </li>
              <li class="list-group-item">
                <span>Tuesday</span>
                <span>9:00AM - 6:00PM</span>
              </li>
              <li class="list-group-item">
                <span>Wednesday</span>
                <span>9:00AM - 6:00PM</span>
              </li>
              <li class="list-group-item">
                <span>Thursday</span>
                <span>9:00AM - 6:00PM</span>
              </li>
              <li class="list-group-item">
                <span>Friday</span>
                <span>9:00AM - 6:00PM</span>
              </li>
              <li class="list-group-item">
                <span>Saturday</span>
                <span>9:00AM - 6:00PM</span>
              </li>
              <li class="list-group-item">
                <span>Sunday</span>
                <span>Closed</span>
              </li>
            </ul>
          </div>
          <div class="col-md-6 text-light wow fadeIn" data-wow-delay="0.5s">
            <h1 class="display-6 text-white mb-5">Contact Info</h1>
            <table class="table">
              <tbody>
                <tr>
                  <td>Office</td>
                  <td>401, Shanti Heritage , Rukanpura, Bailey Road, Patna 800014</td>
                </tr>
                
                
                <tr>
                  <td>Support</td>
                  <td>
                    <p class="mb-2">+918809855528</p>
                    <p class="mb-0">info@Vishalaksha.com</p>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <!-- Visiting Hours End -->

    <!-- Membership Start -->
    <div class="container-xxl py-5">
      <div class="container">
        <div
          class="row g-5 mb-5 align-items-end wow fadeInUp"
          data-wow-delay="0.1s"
        >
          <div class="col-lg-6">
            <p><span class="text-primary me-2">#</span>Job</p>
            <h1 class="display-5 mb-0">
              You Can Be A Proud Member Of
              <span class="text-primary">Vishalaksha</span>
            </h1>
          </div>
          <div class="col-lg-6 text-lg-end">
            <a class="btn btn-primary py-3 px-5" href="">Join us</a>
          </div>
        </div>
        <!-- <div class="row g-4">
          <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
            <div class="membership-item position-relative">
              <img class="img-fluid" src="{% static 'img/animal-lg-1.jpg' %}" alt="" />
              <h1 class="display-1">01</h1>
              <h4 class="text-white mb-3">Popular</h4>
              <h3 class="text-primary mb-4">$99.00</h3>
              <p><i class="fa fa-check text-primary me-3"></i>10% discount</p>
              <p>
                <i class="fa fa-check text-primary me-3"></i>2 adult and 2 child
              </p>
              <p>
                <i class="fa fa-check text-primary me-3"></i>Free animal
                exhibition
              </p>
              <a class="btn btn-outline-light px-4 mt-3" href="">Get Started</a>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
            <div class="membership-item position-relative">
              <img class="img-fluid" src="{% static 'img/animal-lg-2.jpg' %}" alt="" />
              <h1 class="display-1">02</h1>
              <h4 class="text-white mb-3">Standard</h4>
              <h3 class="text-primary mb-4">$149.00</h3>
              <p><i class="fa fa-check text-primary me-3"></i>15% discount</p>
              <p>
                <i class="fa fa-check text-primary me-3"></i>4 adult and 4 child
              </p>
              <p>
                <i class="fa fa-check text-primary me-3"></i>Free animal
                exhibition
              </p>
              <a class="btn btn-outline-light px-4 mt-3" href="">Get Started</a>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
            <div class="membership-item position-relative">
              <img class="img-fluid" src="{% static 'img/animal-lg-3.jpg' %}" alt="" />
              <h1 class="display-1">03</h1>
              <h4 class="text-white mb-3">Premium</h4>
              <h3 class="text-primary mb-4">$199.00</h3>
              <p><i class="fa fa-check text-primary me-3"></i>20% discount</p>
              <p>
                <i class="fa fa-check text-primary me-3"></i>6 adult and 6 child
              </p>
              <p>
                <i class="fa fa-check text-primary me-3"></i>Free animal
                exhibition
              </p>
              <a class="btn btn-outline-light px-4 mt-3" href="">Get Started</a>
            </div>
          </div>
        </div> -->
      </div>
    </div>
    <!-- Membership End -->

    <!-- Testimonial Start -->
    <div class="container-xxl py-5">
      <div class="container">
        <h1
          class="display-5 text-center mb-5 wow fadeInUp"
          data-wow-delay="0.1s"
        >
          Our Clients Say!
        </h1>
        <div
          class="owl-carousel testimonial-carousel wow fadeInUp"
          data-wow-delay="0.1s"
        >
          <div class="testimonial-item text-center">
            <img
              class="img-fluid rounded-circle border border-2 p-2 mx-auto mb-4"
              src="{% static 'img/testimonial-1.jpg' %}"
              style="width: 100px; height: 100px"
            />
            <div class="testimonial-text rounded text-center p-4">
              <p>
                
"Vishalaksha Private Limited has been a game-changer for our business. Their professional and innovative approach helped us navigate challenges, optimize operations, and achieve remarkable growth. Highly recommended!"
              </p>
              <h5 class="mb-1">Rishu</h5>
              <span class="fst-italic">Profession</span>
            </div>
          </div>
          <div class="testimonial-item text-center">
            <img
              class="img-fluid rounded-circle border border-2 p-2 mx-auto mb-4"
              src="{% static 'img/testimonial-2.jpg' %}"
              style="width: 100px; height: 100px"
            />
            <div class="testimonial-text rounded text-center p-4">
              <p>
                
                "Working with Vishalaksha Private Limited was a game-changer for our company. Their expert guidance and personalized solutions significantly improved our performance and profitability. We are thrilled with the results!"
              </p>
              <h5 class="mb-1">Patient Name</h5>
              <span class="fst-italic">Profession</span>
            </div>
          </div>
          <div class="testimonial-item text-center">
            <img
              class="img-fluid rounded-circle border border-2 p-2 mx-auto mb-4"
              src="{% static 'img/testimonial-3.jpg' %}"
              style="width: 100px; height: 100px"
            />
            <div class="testimonial-text rounded text-center p-4">
              <p>
                
                "Vishalaksha Private Limited exceeded our expectations with their exceptional business consultancy. Their insightful strategies and dedicated team helped us achieve unprecedented success and establish a strong competitive edge in our industry."</p>
              <h5 class="mb-1">Patient Name</h5>
              <span class="fst-italic">Profession</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Testimonial End -->

  
    {% endblock content %}