<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="keywords" content="Altech – IT Sollutions & Services HTML Template" >
<meta name="description" content="Altech | IT Solutions & Multi Services HTML5 Template, Altech - React IT Solutions & Multi Services Template, Altech - IT Solutions and Services WordPress Theme, WordPress theme, unlimited colors available, ui/ux, ui/ux design, best html template, html template, html, woocommerce, shopify, prestashop, eCommerce, react js, react template, JavaScript, best CSS theme,css3, elementor theme, latest premium themes 2023, latest premium templates 2023, Preyan Technosys Pvt.Ltd, cymol themes, themetech mount, Web 3.0, multi-theme, website theme and template, woocommerce, bootstrap template, web templates, responsive theme, services, web design and development, animation graphics, cloud computing, developer, gaming technology solution, information tech support, information technology, it solution, network solution, responsive theme, services, software, web hosting, website, business digital marketing" >
<meta name="author" content="https://www.templatetechmount.com/">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Altech – IT Solutions and Services HTML Template</title>

<link rel="shortcut icon" href="images/favicon.png" >
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="css/animate.css">
<link rel="stylesheet" type="text/css" href="css/all.min.css">
<link rel="stylesheet" type="text/css" href="css/fontello.css">
<link rel="stylesheet" type="text/css" href="css/flaticon.css">
<link rel="stylesheet" type="text/css" href="css/font-awesome.css">
<link rel="stylesheet" type="text/css" href="css/themify-icons.css">
<link rel="stylesheet" type="text/css" href="css/aos.css">
<link rel="stylesheet" type="text/css" href="css/slick.css">
<link rel="stylesheet" type="text/css" href="css/prettyPhoto.css">
<link rel="stylesheet" type="text/css" href="css/shortcodes.css">
<link rel="stylesheet" type="text/css" href="css/main.css">
<link rel="stylesheet" type="text/css" href="css/megamenu.css">
<link rel="stylesheet" type="text/css" href="css/responsive.css">
<!-- REVOLUTION LAYERS STYLES -->
<link rel='stylesheet' id='rs-plugin-settings-css' href="revolution/css/rs6.css">

</head>
<body>

    <!-- page start -->
    <div class="page">
 
        <!-- header start -->
        <header id="masthead" class="header prt-header-style-01">
            <!-- site-header-menu -->
            <div id="site-header-menu" class="site-header-menu">
                <div class="site-header-menu-inner prt-stickable-header">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <!--site-navigation -->
                                <div class="site-navigation d-flex align-items-center justify-content-between">
                                    <!-- site-branding -->
                                    <div class="site-branding">
                                        <h1><a class="home-link" href="index.html" title="Altech" rel="home">
                                            <img id="logo-img" height="50" width="200" class="img-fluid auto_size" src="images/logo-light.svg" alt="logo-img">
                                        </a></h1>
                                    </div><!-- site-branding end -->
                                    <div class="d-flex align-items-center">
                                        <div class="menu-link">
                                            <div class="btn-show-menu-mobile menubar menubar--squeeze">
                                                <span class="menubar-box">
                                                    <span class="menubar-inner"></span>
                                                </span>
                                            </div>
                                            <!-- menu -->
                                            <nav class="main-menu menu-mobile" id="menu">
                                                <ul class="menu">
                                                    <li class="mega-menu-item">
                                                        <a href="index.html" class="mega-menu-link">Home</a>
                                                    </li>
                                                    <li class="mega-menu-item">
                                                        <a href="#" class="mega-menu-link">Pages</a>
                                                        <ul class="mega-submenu">
                                                            <li><a href="about-us.html">About Us</a></li>
                                                            <li><a href="services.html">Services</a></li>
                                                            <li><a href="our-team.html">Our Team</a></li>
                                                            <li><a href="team-details.html">Team Details</a></li>
                                                            <li><a href="error.html">Error Page</a></li>
                                                        </ul>
                                                    </li>
                                                    <li class="mega-menu-item">
                                                        <a href="#" class="mega-menu-link">Services</a>
                                                        <ul class="mega-submenu">
                                                            <li><a href="content-engineering.html">Content Engineering</a></li>
                                                            <li><a href="experience-design.html">Experience Design</a></li>
                                                        </ul>
                                                    </li>
                                                    <li class="mega-menu-item">
                                                        <a href="#" class="mega-menu-link">Projects</a>
                                                        <ul class="mega-submenu">
                                                            <li><a href="projects-style-1.html">Projects Style 1</a></li>
                                                            <li><a href="projects-style-2.html">Projects Style 2</a></li>
                                                            <li><a href="project-details.html">Project Details</a></li>
                                                        </ul>
                                                    </li>
                                                    <li class="mega-menu-item">
                                                        <a href="#" class="mega-menu-link">Blog</a>
                                                        <ul class="mega-submenu">
                                                            <li><a href="blog.html">Blog Classic</a></li>
                                                            <li><a href="blog-single.html">Blog Single View</a></li>
                                                        </ul>
                                                    </li>
                                                    <li class="mega-menu-item active"> 
                                                        <a href="contact-us.html">Contact us</a>
                                                    </li>
                                                </ul>
                                            </nav><!-- menu end -->
                                            <!-- header_extra -->
                                        </div>
                                        <div class="side-menu-container d-flex align-items-center">
                                            <div class="header_call">
                                              <span class="call-text">Tollfree : </span>
                                              <a href="tel:1234567890" class="call_btn"> (+123 456 7890)</a>
                                            </div>
                                            <div class="side-menu"><a href="#"><i class="icon-menu"></i></a></div>
                                            <!-- Side Menu -->
                                            <div class="side-overlay">
                                                <div class="side bg-base-dark">
                                                    <a href="#" class="close-side"><i class="icon-close"></i></a>
                                                    <div class="prt-fbar-box">
                                                        <div class="row">
                                                            <div class="col-lg-8 m-auto">
                                                                <div class="floatingbar-widgets-top">
                                                                    <div class="menu-floatibar-menu-1">
                                                                        <ul class="floatingbar-list">
                                                                          <li class="floatingbar-item pl-0">
                                                                            <a href="about-us.html" class="floatingbar-link">Pages</a>
                                                                          </li>
                                                                          <li class="floatingbar-item">
                                                                            <a href="contact-us.html" class="floatingbar-link">Contact Us</a>
                                                                          </li>
                                                                          <li class="floatingbar-item pl-0">
                                                                            <a href="services.html" class="floatingbar-link">Services</a>
                                                                          </li>
                                                                          <li class="floatingbar-item">
                                                                            <a href="projects-style-1.html" class="floatingbar-link">Project</a>
                                                                          </li>
                                                                          <li class="floatingbar-item">
                                                                            <a href="blog.html" class="floatingbar-link">Blog</a>
                                                                          </li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-lg-8 m-auto">
                                                                <div class="floatingbar-widgets-bottom">
                                                                    <div class="row">
                                                                        <div class="col-lg-3">
                                                                            <div class="menu-floatibar-menu-4">
                                                                                <div class="menu-floatibar-text">
                                                                                    <div class="floatbar-menu-box_1">
                                                                                        <h3 class="floatbar-menu-h3">Singapore</h3>
                                                                                        <p class="floatbar-paragraph-text">Schweizer Skischule lohnerhubelsMtrasse 95 CH-3123 Belp</p>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-lg-3">
                                                                            <div class="menu-floatibar-menu-4">
                                                                                <div class="menu-floatibar-text">
                                                                                    <div class="floatbar-menu-box_1 pl-0">
                                                                                        <h3 class="floatbar-menu-h3">Bali, indonesia</h3>
                                                                                        <p class="floatbar-paragraph-text">Schweizer Skischule lohnerhubels Mtrasse 95 CH-3123 Belp</p>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-lg-3">
                                                                            <div class="menu-floatibar-menu-4">
                                                                                <div class="menu-floatibar-text">
                                                                                    <div>
                                                                                      <ul class="floating-list">
                                                                                        <li class="floating-list-item">
                                                                                          <a href="#" class="floating-list-item-link">Awards</a>
                                                                                        </li>
                                                                                        <li class="floating-list-item">
                                                                                          <a href="#" class="floating-list-item-link">Brands</a>
                                                                                        </li>
                                                                                        <li class="floating-list-item">
                                                                                          <a href="#" class="floating-list-item-link">Careers</a>
                                                                                        </li>
                                                                                        <li class="floating-list-item">
                                                                                          <a href="#" class="floating-list-item-link">Inquiries</a>
                                                                                        </li>
                                                                                        <li class="floating-list-item">
                                                                                          <a href="#" class="floating-list-item-link">Help</a>
                                                                                        </li>
                                                                                        <li class="floating-list-item">
                                                                                          <a href="#" class="floating-list-item-link">Transform</a>
                                                                                        </li>
                                                                                      </ul>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>  
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Side Menu -->
                                        </div>
                                        <!-- header_extra end -->
                                    </div>
                                </div><!-- site-navigation end-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- site-header-menu end-->
        </header><!-- header end -->

        <!-- page-title -->
        <div class="prt-page-title-row style1">
            <div class="prt-page-title-row-inner">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="prt-page-title-row-heading">
                                <div class="banner-vertical-block"></div>
                                <div class="page-title-heading">
                                    <h2 class="title">Contact Us</h2>
                                </div>
                                <div class="breadcrumb-wrapper">
                                    <span>
                                        <a title="Homepage" href="index.html">Home</a>
                                    </span>
                                    <span class="action">Contact Us</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="bg-page-title-overlay"></div> -->
            </div>                    
        </div>
        <!-- page-title end -->

        <!-- site-main start -->
        <div class="site-main">

            <!-- section-->
            <section class="prt-row bg-layer-equal-height clearfix">
                <div class="container">
                    <div class="row g-0">
                        <div class="col-lg-6">
                            <div class="prt-col-bgcolor-yes bg-base-dark text-base-white col-bg-img-seven prt-col-bgimage-yes prt-bg">
                                <div class="prt-col-wrapper-bg-layer prt-bg-layer bg-base-dark">
                                    <div class="prt-col-wrapper-bg-layer-inner bg-base-dark"></div>
                                </div>
                                <div class="layer-content map-contect-form">
                                    <!-- section title -->
                                    <div class="section-title">
                                        <div class="title-header">
                                            <h2 class="title">Web designing in a powerful way of just not a profession, however</h2>
                                        </div>
                                    </div><!-- section title end -->
                                    <form action="#" class="query_form wrap-form clearfix mt-25 res-991-mt-0 position-relative" method="post">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <label>
                                                    <span class="text-input"><input name="name" type="text" value="" placeholder="Name" required="required"></span>
                                                </label>
                                            </div>
                                            <div class="col-md-12">
                                                <label>
                                                    <span class="text-input"><input name="email" type="text" value="" placeholder="Email" required="required"></span>
                                                </label>
                                            </div>
                                            <div class="col-md-12">
                                                <label>
                                                    <span class="text-input"><input name="phone" type="text" value="" placeholder="Phone" required="required"></span>
                                                </label>
                                            </div>
                                            <div class="col-md-12">
                                                <label>
                                                    <span class="text-input"><textarea name="message" rows="5" placeholder=" your message" required="required"></textarea></span>
                                                </label>
                                            </div>
                                            <div class="col-md-12">
                                                <label>
                                                   <span class="checkbox"><input type="checkbox" name="cookies-consent" id="cookies-consent2">
                                                     Accept <a href="#"> Terms of services</a> and <a href="#"> Privacy Policy.</a></span>
                                                </label>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="mt-25">
                                                   <button class="prt-btn prt-btn-size-md prt-btn-shape-round prt-btn-style-fill prt-btn-color-gradiant" type="submit">Submit Now</button>
                                               </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="prt-bg bg-base-grey spacing-8">
                                <div class="section-title mb-15">
                                    <div class="title-header">
                                        <h2 class="section-title-h2">Get in touch</h2>
                                    </div>
                                    <div class="title-desc">
                                        <p>Web designing in a powerful way of just not a profession, however for our Company. We have a tendency to believe the idea that smart looking to believe the idea that smart looking</p>
                                    </div>
                                </div>
                                <div class="contact-address-box">
                                    <div class="address-box-info">
                                        <h3 class="address-box-heading">Schweizer</h3>
                                        <div class="address-box-text">Schweizer Skischule lohnerhubels <br>goergam Mtrasse 95 CH-3123 Belp</div>
                                    </div>
                                    <div class="address-box-map-link">
                                        <a href="https://www.google.com/maps" class="address-box-link">View On Map</a>
                                    </div>
                                </div>
                                <div class="contact-address-box last-child">
                                    <div class="address-box-info">
                                        <h3 class="address-box-heading">Maryam jakarta</h3>
                                        <div class="address-box-text">Schweizer Skischule lohnerhubels <br>goergam Mtrasse 95 CH-3123 Belp</div>
                                    </div>
                                    <div class="address-box-map-link">
                                        <a href="https://www.google.com/maps" class="address-box-link">View On Map</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- section end-->

            <!-- map-accordion-section -->
            <section class="prt-row bg-base-grey map-accordion-section clearfix">
                <div class="container">
                    <!-- row end -->
                    <div class="row">
                        <div class="col-lg-5 col-md-12">
                            <div class="contentmap">
                                <!-- section title -->
                                <div class="section-title">
                                    <div class="title-header">
                                        <h2 class="title">Frequently asked questions</h2>
                                    </div>
                                    <div class="title-desc">
                                        <p>Web designing in a powerful way of just not a profession, however for our Company. We have a tendency to believe the idea that smart looking to believe the idea that smart looking.</p>
                                    </div>
                                    <div class="mt-15">
                                        <h3 class="contact-heading-h3">Social media</h3>
                                        <ul class="social-icons map-links">
                                            <li><a href="https://www.facebook.com/preyantechnosys19" rel="noopener" aria-label="facebook">Facebook</a></li>
                                            <li><a href="https://twitter.com/PreyanTechnosys" rel="noopener" aria-label="twitter">Twitter</a></li>
                                            <li><a href="https://www.instagram.com/preyan_technosys/" rel="noopener" aria-label="twitter">Instagram</a></li>
                                        </ul>
                                    </div>
                                </div><!-- section title end -->
                            </div>
                        </div>
                        <div class="col-lg-7 col-md-12">
                            <div class="accordion style2 res-991-mt-20">
                                <!-- toggle -->
                                <div class="toggle prt-toggle_style_classic prt-control-right-true">
                                    <div class="toggle-title"><a href="#" class="active">01. Curious about how to your own UX strategy?</a></div>
                                    <div class="toggle-content show">
                                        <p>Web designing in a powerful way of just not a profession, however for our Company. We have a tendency to believe the idea that smart looking to believe the idea that smart looking.</p>
                                    </div>
                                </div><!-- toggle end -->
                                <!-- toggle -->
                                <div class="toggle prt-toggle_style_classic prt-control-right-true">
                                    <div class="toggle-title"><a href="#">02. Where Could a Career in UX Take You? </a></div>
                                    <div class="toggle-content">
                                        <p>Web designing in a powerful way of just not a profession, however for our Company. We have a tendency to believe the idea that smart looking to believe the idea that smart looking.</p>
                                    </div>
                                </div><!-- toggle end -->
                                <!-- toggle -->
                                <div class="toggle prt-toggle_style_classic prt-control-right-true">
                                    <div class="toggle-title"><a href="#">03. What Is a Problem Statement in UX?</a></div>
                                    <div class="toggle-content">
                                        <p>Web designing in a powerful way of just not a profession, however for our Company. We have a tendency to believe the idea that smart looking to believe the idea that smart looking.</p>
                                    </div>
                                </div><!-- toggle end -->
                                <!-- toggle -->
                                <div class="toggle prt-toggle_style_classic prt-control-right-true">
                                    <div class="toggle-title"><a href="#">04.  What are the users are facing?</a></div>
                                    <div class="toggle-content">
                                        <p>Web designing in a powerful way of just not a profession, however for our Company. We have a tendency to believe the idea that smart looking to believe the idea that smart looking.</p>
                                    </div>
                                </div><!-- toggle end -->
                                <!-- toggle -->
                                <div class="toggle prt-toggle_style_classic prt-control-right-true">
                                    <div class="toggle-title"><a href="#">05. What are they trying to?</a></div>
                                    <div class="toggle-content">
                                        <p>Web designing in a powerful way of just not a profession, however for our Company. We have a tendency to believe the idea that smart looking to believe the idea that smart looking.</p>
                                    </div>
                                </div><!-- toggle end -->
                           </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- map-accordion-section end -->

            <!--map-section-->
            <section class="prt-row padding_zero-section overflow-hidden clearfix">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 p-0">
                            <div id="google_map" class="google_map">
                                <div class="map_container">
                                    <div id="map">
                                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2483.5404230618797!2d-0.12174774859469174!3d51.5033006187238!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487604b900d26973%3A0x4291f3172409ea92!2slastminute.com%20London%20Eye!5e0!3m2!1sen!2sin!4v1629115262628!5m2!1sen!2sin" height="590"></iframe>
                                    </div>
                                </div>
                                <div class="map-overlay">
                                    <div class="prt-map-location">
                                        <h3>Find us</h3>
                                        <p>Schweizer Skischule lohnerhubels goergam Mtrasse 95 CH-3123 Belp</p>
                                        <ul class="map-list">
                                            <li>E-mail : <a href="mailto:contact@company.com" class="prt-maplink">altech123@gmail.com</a></li>
                                            <li>Phone number : <a href="tel:+123456789" class="prt-maplink">+1800 123 456789 99</a></li>
                                        </ul>
                                    </div>
                                    <div class="prt-map-location mt-15">
                                        <h3>Business hours</h3>
                                        <ul class="map-list">
                                            <li>Mon-Fri : <span>8am to 9pm</span></li>
                                            <li>Sat : <span>9am to 3pm</span></li>
                                            <li>Sun : <span>closed</span></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--map-section end-->

        </div><!-- site-main end-->

        <!-- footer start -->
        <footer class="footer widget-footer bg-base-dark clearfix">
            <div class="second-footer">
                <div class="container">
                    <div class="row g-0">
                        <div class="col-xl-4 col-lg-6 col-md-6">
                            <div class="footer-widget-box first-child">
                                <h3 class="widget-title-h3">Subscribe now!</h3>
                                <div class="form-block">
                                    <div class="widget-form">
                                        <form id="subscribe-form" class="newsletter-form" method="post" action="#" data-mailchimp="true">
                                            <div class="mailchimp-inputbox clearfix" id="subscribe-content">
                                                <p class="mb-0">
                                                    <input type="email" name="email" placeholder="Your email" required="">
                                                </p>
                                                <button class="submit" type="submit">Send Now<i class="fas fa-long-arrow-alt-up"></i></button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <h3 class="widget-title-h3">Our location:</h3>
                                <div class="prt-iconbox">
                                    <div class="footer-icon">
                                      <div class="footer-icon-box">
                                        <span class="footer-icon-link"><i class="ti-location-pin"></i></span>
                                      </div>
                                      <div class="footer-box-content">
                                        <p class="mb-0">Schweizer Skischule lohnerhubels Mtrasse 95 CH-3123 Belp</p>
                                      </div>
                                    </div>
                                </div>
                                <div class="footer-social-links-wrapper">
                                    <ul class="footer-social-icons">
                                        <li class="footer-social-icons-item">
                                            <a href="https://www.facebook.com/preyantechnosys19" target="_blank" class="footer-social-icons-link">Facebook</a>
                                        </li>
                                        <li class="footer-social-icons-item">
                                            <a href="https://twitter.com/PreyanTechnosys" target="_blank" class="footer-social-icons-link">Twitter</a>
                                        </li>
                                        <li class="footer-social-icons-item">
                                            <a href="https://www.instagram.com/preyan_technosys/" target="_blank" class="footer-social-icons-link">Instagram</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-6 col-md-6">
                            <div class="footer-widget-box">
                                <h3 class="widget-title-h3">Quick Links</h3>
                                <div class="footer-menu-links">
                                    <ul class="footer-menu-list">
                                        <li class="footer-menu-item">
                                            <a href="#" class="footer-menu-item-link">Make Appointment</a>
                                        </li>
                                        <li class="footer-menu-item">
                                            <a href="#" class="footer-menu-item-link">Free Consultation</a>
                                        </li>
                                        <li class="footer-menu-item">
                                            <a href="#" class="footer-menu-item-link">Department</a>
                                        </li>
                                        <li class="footer-menu-item">
                                            <a href="#" class="footer-menu-item-link">About Company</a>
                                        </li>
                                        <li class="footer-menu-item">
                                            <a href="#" class="footer-menu-item-link">Our Case Studies</a>
                                        </li>
                                        <li class="footer-menu-item">
                                            <a href="#" class="footer-menu-item-link">Free Consultation</a>
                                        </li>
                                        <li class="footer-menu-item">
                                            <a href="#" class="footer-menu-item-link">Meet Our Experts</a>
                                        </li>
                                        <li class="footer-menu-item">
                                            <a href="#" class="footer-menu-item-link">Business Growth</a>
                                        </li>
                                        <li class="footer-menu-item">
                                            <a href="#" class="footer-menu-item-link">IT Management</a>
                                        </li>
                                        <li class="footer-menu-item">
                                            <a href="#" class="footer-menu-item-link">Software Dev</a>
                                        </li>
                                        <li class="footer-menu-item last-child">
                                            <a href="#" class="footer-menu-item-link">Our Case Studies</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-6 col-md-6">
                            <div class="footer-widget-box last-child">
                                <div class="widget_nav_menu">
                                    <div class="textwidget-widget-text">
                                        <div class="prt-numbertext">
                                            <p class="prt-numbertext-p">Our phone number</p>
                                            <h3 class="prt-numbertext-h3">
                                              <a href="tel:+123456789" class="prt-numbertext-link">+1800 123 456789 99</a>
                                            </h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="prt-horizontal_sep mb-45 mt-25 res-991-mt-10 res-991-mb-25"></div>
                                <div class="widget_nav_menu">
                                    <div class="textwidget-widget-text">
                                        <div class="prt-numbertext">
                                            <p class="prt-numbertext-p">Our email address</p>
                                            <h3 class="prt-numbertext-h3">
                                              <a href="mailto:contact@company.com" class="prt-numbertext-link">altech123@gmail.com</a>
                                            </h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="prt-horizontal_sep mb-40 mt-25 res-991-mt-10 res-991-mb-25"></div>
                                <div class="widget_nav_menu">
                                    <div class="textwidget-widget-text">
                                        <div class="prt-numbertext">
                                            <p class="prt-numbertext-p">Copyright © 2023 <a href="index.html" class="prt-numbertext-p-link">Altech Advanced</a> Template</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>  
        </footer>
        <!-- footer end -->

        <!-- back-to-top start -->
        <a id="totop" href="#top">
            <i class="icon-angle-up"></i>
        </a>
        <!-- back-to-top end -->

    </div><!-- page end -->


    <!-- Javascript -->
    <script src="js/jquery-3.6.4.min.js"></script>
    <script src="js/jquery-migrate-3.4.0.min.js"></script>
    <script src="js/bootstrap.bundle.js"></script> 
    <script src="js/Scrolltrigger.js"></script>
    <script src="js/SplitText.js"></script>
    <script src="js/cursor.js"></script>
    <script src="js/gsap.js"></script>
    <script src="js/gsap.min.js"></script>
    <script src="js/gsap-animation.js"></script>
    <script src="js/jquery-validate.js"></script> 
    <script src="js/jquery.prettyPhoto.js"></script>
    <script src="js/slick.min.js"></script>
    <script src="js/jquery-waypoints.js"></script>    
    <script src="js/numinate.min.js"></script>
    <script src="js/imagesloaded.min.js"></script>
    <script src="js/jquery-isotope.js"></script>
    <script src="js/circle-progress.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/aos.js"></script>
      <script>
        AOS.init({
            offset: 120,
            duration: 400,
        });
      </script>

    <!-- Revolution Slider -->    
    <script src='revolution/js/revolution.tools.min.js'></script>
    <script src='revolution/js/rs6.min.js'></script>
    <script src="revolution/js/slider.js"></script>
    <!-- Javascript end-->

</body>
</html>