<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="keywords" content="Altech – IT Sollutions & Services HTML Template" >
<meta name="description" content="Altech | IT Solutions & Multi Services HTML5 Template, Altech - React IT Solutions & Multi Services Template, Altech - IT Solutions and Services WordPress Theme, WordPress theme, unlimited colors available, ui/ux, ui/ux design, best html template, html template, html, woocommerce, shopify, prestashop, eCommerce, react js, react template, JavaScript, best CSS theme,css3, elementor theme, latest premium themes 2023, latest premium templates 2023, Preyan Technosys Pvt.Ltd, cymol themes, themetech mount, Web 3.0, multi-theme, website theme and template, woocommerce, bootstrap template, web templates, responsive theme, services, web design and development, animation graphics, cloud computing, developer, gaming technology solution, information tech support, information technology, it solution, network solution, responsive theme, services, software, web hosting, website, business digital marketing" >
<meta name="author" content="https://www.templatetechmount.com/">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Altech – IT Solutions and Services HTML Template</title>

<link rel="shortcut icon" href="images/favicon.png" >
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="css/animate.css">
<link rel="stylesheet" type="text/css" href="css/all.min.css">
<link rel="stylesheet" type="text/css" href="css/fontello.css">
<link rel="stylesheet" type="text/css" href="css/flaticon.css">
<link rel="stylesheet" type="text/css" href="css/font-awesome.css">
<link rel="stylesheet" type="text/css" href="css/themify-icons.css">
<link rel="stylesheet" type="text/css" href="css/aos.css">
<link rel="stylesheet" type="text/css" href="css/slick.css">
<link rel="stylesheet" type="text/css" href="css/prettyPhoto.css">
<link rel="stylesheet" type="text/css" href="css/shortcodes.css">
<link rel="stylesheet" type="text/css" href="css/main.css">
<link rel="stylesheet" type="text/css" href="css/megamenu.css">
<link rel="stylesheet" type="text/css" href="css/responsive.css">
<!-- REVOLUTION LAYERS STYLES -->
<link rel='stylesheet' id='rs-plugin-settings-css' href="revolution/css/rs6.css">

</head>
<body>

    <!-- page start -->
    <div class="page">
 
        <!-- header start -->
        <header id="masthead" class="header prt-header-style-01">
            <!-- site-header-menu -->
            <div id="site-header-menu" class="site-header-menu">
                <div class="site-header-menu-inner prt-stickable-header">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <!--site-navigation -->
                                <div class="site-navigation d-flex align-items-center justify-content-between">
                                    <!-- site-branding -->
                                    <div class="site-branding">
                                        <h1><a class="home-link" href="index.html" title="Altech" rel="home">
                                            <img id="logo-img" height="50" width="200" class="img-fluid auto_size" src="images/logo-light.svg" alt="logo-img">
                                        </a></h1>
                                    </div><!-- site-branding end -->
                                    <div class="d-flex align-items-center">
                                        <div class="menu-link">
                                            <div class="btn-show-menu-mobile menubar menubar--squeeze">
                                                <span class="menubar-box">
                                                    <span class="menubar-inner"></span>
                                                </span>
                                            </div>
                                            <!-- menu -->
                                            <nav class="main-menu menu-mobile" id="menu">
                                                <ul class="menu">
                                                    <li class="mega-menu-item">
                                                        <a href="index.html" class="mega-menu-link">Home</a>
                                                    </li>
                                                    <li class="mega-menu-item">
                                                        <a href="#" class="mega-menu-link">Pages</a>
                                                        <ul class="mega-submenu">
                                                            <li><a href="about-us.html">About Us</a></li>
                                                            <li><a href="services.html">Services</a></li>
                                                            <li><a href="our-team.html">Our Team</a></li>
                                                            <li><a href="team-details.html">Team Details</a></li>
                                                            <li><a href="error.html">Error Page</a></li>
                                                        </ul>
                                                    </li>
                                                    <li class="mega-menu-item active">
                                                        <a href="#" class="mega-menu-link">Services</a>
                                                        <ul class="mega-submenu">
                                                            <li class="active"><a href="content-engineering.html">Content Engineering</a></li>
                                                            <li><a href="experience-design.html">Experience Design</a></li>
                                                        </ul>
                                                    </li>
                                                    <li class="mega-menu-item">
                                                        <a href="#" class="mega-menu-link">Projects</a>
                                                        <ul class="mega-submenu">
                                                            <li><a href="projects-style-1.html">Projects Style 1</a></li>
                                                            <li><a href="projects-style-2.html">Projects Style 2</a></li>
                                                            <li><a href="project-details.html">Project Details</a></li>
                                                        </ul>
                                                    </li>
                                                    <li class="mega-menu-item">
                                                        <a href="#" class="mega-menu-link">Blog</a>
                                                        <ul class="mega-submenu">
                                                            <li><a href="blog.html">Blog Classic</a></li>
                                                            <li><a href="blog-single.html">Blog Single View</a></li>
                                                        </ul>
                                                    </li>
                                                    <li class="mega-menu-item">
                                                        <a href="contact-us.html">Contact us</a>
                                                    </li>
                                                </ul>
                                            </nav><!-- menu end -->
                                            <!-- header_extra -->
                                        </div>
                                        <div class="side-menu-container d-flex align-items-center">
                                            <div class="header_call">
                                              <span class="call-text">Tollfree : </span>
                                              <a href="tel:1234567890" class="call_btn"> (+123 456 7890)</a>
                                            </div>
                                            <div class="side-menu"><a href="#"><i class="icon-menu"></i></a></div>
                                            <!-- Side Menu -->
                                            <div class="side-overlay">
                                                <div class="side bg-base-dark">
                                                    <a href="#" class="close-side"><i class="icon-close"></i></a>
                                                    <div class="prt-fbar-box">
                                                        <div class="row">
                                                            <div class="col-lg-8 m-auto">
                                                                <div class="floatingbar-widgets-top">
                                                                    <div class="menu-floatibar-menu-1">
                                                                        <ul class="floatingbar-list">
                                                                          <li class="floatingbar-item pl-0">
                                                                            <a href="about-us.html" class="floatingbar-link">Pages</a>
                                                                          </li>
                                                                          <li class="floatingbar-item">
                                                                            <a href="contact-us.html" class="floatingbar-link">Contact Us</a>
                                                                          </li>
                                                                          <li class="floatingbar-item pl-0">
                                                                            <a href="services.html" class="floatingbar-link">Services</a>
                                                                          </li>
                                                                          <li class="floatingbar-item">
                                                                            <a href="projects-style-1.html" class="floatingbar-link">Project</a>
                                                                          </li>
                                                                          <li class="floatingbar-item">
                                                                            <a href="blog.html" class="floatingbar-link">Blog</a>
                                                                          </li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-lg-8 m-auto">
                                                                <div class="floatingbar-widgets-bottom">
                                                                    <div class="row">
                                                                        <div class="col-lg-3">
                                                                            <div class="menu-floatibar-menu-4">
                                                                                <div class="menu-floatibar-text">
                                                                                    <div class="floatbar-menu-box_1">
                                                                                        <h3 class="floatbar-menu-h3">Singapore</h3>
                                                                                        <p class="floatbar-paragraph-text">Schweizer Skischule lohnerhubelsMtrasse 95 CH-3123 Belp</p>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-lg-3">
                                                                            <div class="menu-floatibar-menu-4">
                                                                                <div class="menu-floatibar-text">
                                                                                    <div class="floatbar-menu-box_1 pl-0">
                                                                                        <h3 class="floatbar-menu-h3">Bali, indonesia</h3>
                                                                                        <p class="floatbar-paragraph-text">Schweizer Skischule lohnerhubels Mtrasse 95 CH-3123 Belp</p>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-lg-3">
                                                                            <div class="menu-floatibar-menu-4">
                                                                                <div class="menu-floatibar-text">
                                                                                    <div>
                                                                                      <ul class="floating-list">
                                                                                        <li class="floating-list-item">
                                                                                          <a href="#" class="floating-list-item-link">Awards</a>
                                                                                        </li>
                                                                                        <li class="floating-list-item">
                                                                                          <a href="#" class="floating-list-item-link">Brands</a>
                                                                                        </li>
                                                                                        <li class="floating-list-item">
                                                                                          <a href="#" class="floating-list-item-link">Careers</a>
                                                                                        </li>
                                                                                        <li class="floating-list-item">
                                                                                          <a href="#" class="floating-list-item-link">Inquiries</a>
                                                                                        </li>
                                                                                        <li class="floating-list-item">
                                                                                          <a href="#" class="floating-list-item-link">Help</a>
                                                                                        </li>
                                                                                        <li class="floating-list-item">
                                                                                          <a href="#" class="floating-list-item-link">Transform</a>
                                                                                        </li>
                                                                                      </ul>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>  
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Side Menu -->
                                        </div>
                                        <!-- header_extra end -->
                                    </div>
                                </div><!-- site-navigation end-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- site-header-menu end-->
        </header><!-- header end -->

        <!-- page-title -->
        <div class="prt-page-title-row style1">
            <div class="prt-page-title-row-inner">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="prt-page-title-row-heading">
                                <div class="banner-vertical-block"></div>
                                <div class="page-title-heading">
                                    <h2 class="title">Content Engineering</h2>
                                </div>
                                <div class="breadcrumb-wrapper">
                                    <span>
                                        <a title="Homepage" href="index.html">Home</a>
                                    </span>
                                    <span class="action">Content Engineering</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="bg-page-title-overlay"></div> -->
            </div>                    
        </div>
        <!-- page-title end -->

        <!-- site-main start -->
        <div class="site-main">

            <!--sidebar-->
            <div class="prt-row sidebar prt-sidebar-left clearfix">
                <div class="container">
                    <!-- row -->
                    <div class="row">
                        <div class="col-lg-4 widget-area sidebar-left prtcol-bgcolor-yes prt-bg prt-left-span bg-base-grey">
                            <div class="prt-col-wrapper-bg-layer prt-bg-layer"></div>
                            <aside class="widget widget-search with-title">
                                <form role="search" method="get" class="search-form" action="#">
                                    <label>
                                        <input type="search" class="input-text" placeholder="Search" value="" name="s">
                                    </label>
                                    <button class="btn" type="submit"></button>
                                </form>
                            </aside>
                            <aside class="widget widget-nav-menu with-title">
                                <div class="widget-title">
                                    <h3>Our Services</h3>
                                </div>
                                <ul>
                                    <li class="active"><a href="content-engineering.html"> Content Engineering </a></li>
                                    <li><a href="experience-design.html"> Experience Design </a></li>
                                    <li><a href="content-engineering.html"> Data Structuring </a></li>
                                    <li><a href="experience-design.html">  Advisory Services  </a></li>
                                    <li><a href="content-engineering.html">  Digital Services  </a></li>
                                    <li><a href="experience-design.html">   IT Consultancy   </a></li>
                                </ul>
                            </aside>  
                            <aside class="widget widget-download with-title">
                                 <div class="download_block">
                                    <div class="widget-title">
                                        <h3>Download</h3>
                                    </div>
                                    <div class="download-block01 first-child">
                                        <div class="prt-file-title">
                                            <span>Our Brochures</span>
                                            <a href="#">Download</a>
                                        </div>
                                        <div class="download_icon">
                                            <i class="fa fa-file-pdf-o"></i>
                                        </div>
                                    </div>
                                    <div class="download-block01">
                                        <div class="prt-file-title">
                                            <span>Our Brochures</span>
                                            <a href="#">Download</a>
                                        </div>
                                        <div class="download_icon">
                                            <i class="far fa-file"></i>
                                        </div>
                                    </div>
                                </div>
                            </aside>                      
                            <aside class="widget widget-banner with-title">
                               <div class="prt-col-bgcolor-yes bg-base-dark text-base-white col-bg-img-four prt-col-bgimage-yes prt-bg">
                                    <div class="prt-col-wrapper-bg-layer prt-bg-layer bg-base-dark">
                                        <div class="prt-col-wrapper-bg-layer-inner bg-base-dark"></div>
                                    </div>
                                    <div class="layer-content text-center">
                                        <h3 class="sidebar-banner-heading">Altech</h3>
                                        <div class="sidebar-banner-subheading">Need Help? We Are Here<br>To Help You</div>
                                        <a href="tel:1234567890" class="sidebar-banner-phone-link">+1 234 564 890</a>
                                        <a class="prt-btn prt-btn-size-md prt-btn-shape-round prt-btn-style-fill prt-btn-color-gradiant" href="contact-us.html">Contact Us</a>
                                    </div>
                                </div>
                            </aside>
                        </div>
                        <div class="col-lg-8 content-area">
                            <div class="prt-service-single-content-area">
                                <div class="prt_fatured_image-wrapper mb-40 res-575-mb-20">
                                    <img width="859" height="440" class="img-fluid" src="images/single-img-10.jpg" alt="services-1">
                                </div>
                                <div class="prt-service-description">
                                    <h3>The best digital agency around the world</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendt dolore magna aliqua. Quis ipsum suspendise ultrices gravida abore et dolore magna.</p>
                                     <div class="row">
                                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                            <ul class="service-detail-list">
                                                <li class="service-detail-list-item">
                                                  <div class="service-detail-list-text">Seize opportunities and spark</div>
                                                </li>
                                                <li class="service-detail-list-item">
                                                  <div class="service-detail-list-text">Experience to share goals</div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                            <div>
                                                <ul class="service-detail-list">
                                                    <li class="service-detail-list-item">
                                                      <div class="service-detail-list-text">Comprehensive testing</div>
                                                    </li>
                                                    <li class="service-detail-list-item">
                                                      <div class="service-detail-list-text">Innovate &amp; create great</div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mt-40 res-767-mt-20">
                                        <div class="col-xl-6 col-lg-6 col-md-12">
                                            <h3>How We Work</h3>
                                            <div class="mt-35">
                                                <div class="timeline-block">
                                                    <div class="iconbox-sd">
                                                      <div class="iconbox-num-block">
                                                        <div class="iconbox-num"></div>
                                                      </div>
                                                      <div class="iconbox-content-sd">
                                                        <div class="iconbox-title-sd">
                                                          <h3 class="iconbox-heading-sd">Project planning</h3>
                                                        </div>
                                                        <div class="iconbox-desc-sd">
                                                          <p class="iconbox-text-sd">Well aware of the existing mobile app market trends to keep tabs.</p>
                                                        </div>
                                                      </div>
                                                    </div>
                                                </div>
                                                <div class="timeline-block">
                                                    <div class="iconbox-sd">
                                                      <div class="iconbox-num-block">
                                                        <div class="iconbox-num"></div>
                                                      </div>
                                                      <div class="iconbox-content-sd">
                                                        <div class="iconbox-title-sd">
                                                          <h3 class="iconbox-heading-sd">Research &amp; analysis</h3>
                                                        </div>
                                                        <div class="iconbox-desc-sd">
                                                          <p class="iconbox-text-sd">Well aware of the existing mobile app market trends to keep tabs.</p>
                                                        </div>
                                                      </div>
                                                    </div>
                                                </div>
                                                <div class="timeline-block last-child">
                                                    <div class="iconbox-sd">
                                                      <div class="iconbox-num-block last-child">
                                                        <div class="iconbox-num"></div>
                                                      </div>
                                                      <div class="iconbox-content-sd">
                                                        <div class="iconbox-title-sd">
                                                          <h3 class="iconbox-heading-sd">Deployment</h3>
                                                        </div>
                                                        <div class="iconbox-desc-sd">
                                                          <p class="iconbox-text-sd">Well aware of the existing mobile app market trends to keep tabs.</p>
                                                        </div>
                                                      </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-6 col-lg-6 col-md-12 res-991-mt-30">
                                            <!-- col-img-img-three -->
                                            <div class="prt-bg prt-col-bgimage-yes col-bg-img-five z-index-2">
                                                <div class="prt-col-wrapper-bg-layer prt-bg-layer border-rad_30"></div>
                                                <div class="layer-content">
                                                </div>
                                            </div><!-- col-img-bg-img-three end-->
                                            <img class="img-fluid prt-equal-height-image w-100 border-rad_30" src="images/bg-image/col-bgimage-5.jpg" alt="bg-image">
                                        </div>
                                    </div>
                                    <div class="mt-40 res-767-mt-20">
                                        <div><h3>Frequently asked questions</h3></div>
                                        <div class="accordion style1">
                                            <!-- toggle -->
                                            <div class="toggle prt-toggle_style_classic prt-control-right-true">
                                                <div class="toggle-title"><a href="#" class="active">How can i find my solutions?</a></div>
                                                <div class="toggle-content show">
                                                    <p>Sustainable development is the creed that underpins Irecco’s bespoke initiatives to protect the environment, strengthen communities and propel responsible functions including supply chain scheduling, manufacturing, services and spares, technology.</p>
                                                </div>
                                            </div><!-- toggle end -->
                                            <!-- toggle -->
                                            <div class="toggle prt-toggle_style_classic prt-control-right-true">
                                                <div class="toggle-title"><a href="#">How much does solar cost?</a></div>
                                                <div class="toggle-content">
                                                    <p>Sustainable development is the creed that underpins Irecco’s bespoke initiatives to protect the environment, strengthen communities and propel responsible functions including supply chain scheduling, manufacturing, services and spares, technology.</p>
                                                </div>
                                            </div><!-- toggle end -->
                                            <!-- toggle -->
                                            <div class="toggle prt-toggle_style_classic prt-control-right-true">
                                                <div class="toggle-title"><a href="#">What payment methods are available?</a></div>
                                                <div class="toggle-content">
                                                    <p>Sustainable development is the creed that underpins Irecco’s bespoke initiatives to protect the environment, strengthen communities and propel responsible functions including supply chain scheduling, manufacturing, services and spares, technology.</p>
                                                </div>
                                            </div><!-- toggle end -->
                                       </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- row end -->
                </div>
            </div>
            <!--sidebar end-->

        </div><!-- site-main end-->

        <!-- footer start -->
        <footer class="footer widget-footer bg-base-dark clearfix">
            <div class="second-footer">
                <div class="container">
                    <div class="row g-0">
                        <div class="col-xl-4 col-lg-6 col-md-6">
                            <div class="footer-widget-box first-child">
                                <h3 class="widget-title-h3">Subscribe now!</h3>
                                <div class="form-block">
                                    <div class="widget-form">
                                        <form id="subscribe-form" class="newsletter-form" method="post" action="#" data-mailchimp="true">
                                            <div class="mailchimp-inputbox clearfix" id="subscribe-content">
                                                <p class="mb-0">
                                                    <input type="email" name="email" placeholder="Your email" required="">
                                                </p>
                                                <button class="submit" type="submit">Send Now<i class="fas fa-long-arrow-alt-up"></i></button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <h3 class="widget-title-h3">Our location:</h3>
                                <div class="prt-iconbox">
                                    <div class="footer-icon">
                                      <div class="footer-icon-box">
                                        <span class="footer-icon-link"><i class="ti-location-pin"></i></span>
                                      </div>
                                      <div class="footer-box-content">
                                        <p class="mb-0">Schweizer Skischule lohnerhubels Mtrasse 95 CH-3123 Belp</p>
                                      </div>
                                    </div>
                                </div>
                                <div class="footer-social-links-wrapper">
                                    <ul class="footer-social-icons">
                                        <li class="footer-social-icons-item">
                                            <a href="https://www.facebook.com/preyantechnosys19" target="_blank" class="footer-social-icons-link">Facebook</a>
                                        </li>
                                        <li class="footer-social-icons-item">
                                            <a href="https://twitter.com/PreyanTechnosys" target="_blank" class="footer-social-icons-link">Twitter</a>
                                        </li>
                                        <li class="footer-social-icons-item">
                                            <a href="https://www.instagram.com/preyan_technosys/" target="_blank" class="footer-social-icons-link">Instagram</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-6 col-md-6">
                            <div class="footer-widget-box">
                                <h3 class="widget-title-h3">Quick Links</h3>
                                <div class="footer-menu-links">
                                    <ul class="footer-menu-list">
                                        <li class="footer-menu-item">
                                            <a href="#" class="footer-menu-item-link">Make Appointment</a>
                                        </li>
                                        <li class="footer-menu-item">
                                            <a href="#" class="footer-menu-item-link">Free Consultation</a>
                                        </li>
                                        <li class="footer-menu-item">
                                            <a href="#" class="footer-menu-item-link">Department</a>
                                        </li>
                                        <li class="footer-menu-item">
                                            <a href="#" class="footer-menu-item-link">About Company</a>
                                        </li>
                                        <li class="footer-menu-item">
                                            <a href="#" class="footer-menu-item-link">Our Case Studies</a>
                                        </li>
                                        <li class="footer-menu-item">
                                            <a href="#" class="footer-menu-item-link">Free Consultation</a>
                                        </li>
                                        <li class="footer-menu-item">
                                            <a href="#" class="footer-menu-item-link">Meet Our Experts</a>
                                        </li>
                                        <li class="footer-menu-item">
                                            <a href="#" class="footer-menu-item-link">Business Growth</a>
                                        </li>
                                        <li class="footer-menu-item">
                                            <a href="#" class="footer-menu-item-link">IT Management</a>
                                        </li>
                                        <li class="footer-menu-item">
                                            <a href="#" class="footer-menu-item-link">Software Dev</a>
                                        </li>
                                        <li class="footer-menu-item last-child">
                                            <a href="#" class="footer-menu-item-link">Our Case Studies</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-6 col-md-6">
                            <div class="footer-widget-box last-child">
                                <div class="widget_nav_menu">
                                    <div class="textwidget-widget-text">
                                        <div class="prt-numbertext">
                                            <p class="prt-numbertext-p">Our phone number</p>
                                            <h3 class="prt-numbertext-h3">
                                              <a href="tel:+123456789" class="prt-numbertext-link">+1800 123 456789 99</a>
                                            </h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="prt-horizontal_sep mb-45 mt-25 res-991-mt-10 res-991-mb-25"></div>
                                <div class="widget_nav_menu">
                                    <div class="textwidget-widget-text">
                                        <div class="prt-numbertext">
                                            <p class="prt-numbertext-p">Our email address</p>
                                            <h3 class="prt-numbertext-h3">
                                              <a href="mailto:contact@company.com" class="prt-numbertext-link">altech123@gmail.com</a>
                                            </h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="prt-horizontal_sep mb-40 mt-25 res-991-mt-10 res-991-mb-25"></div>
                                <div class="widget_nav_menu">
                                    <div class="textwidget-widget-text">
                                        <div class="prt-numbertext">
                                            <p class="prt-numbertext-p">Copyright © 2023 <a href="index.html" class="prt-numbertext-p-link">Altech Advanced</a> Template</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>  
        </footer>
        <!-- footer end -->

        <!-- back-to-top start -->
        <a id="totop" href="#top">
            <i class="icon-angle-up"></i>
        </a>
        <!-- back-to-top end -->

    </div><!-- page end -->


    <!-- Javascript -->
    <script src="js/jquery-3.6.4.min.js"></script>
    <script src="js/jquery-migrate-3.4.0.min.js"></script>
    <script src="js/bootstrap.bundle.js"></script> 
    <script src="js/Scrolltrigger.js"></script>
    <script src="js/SplitText.js"></script>
    <script src="js/cursor.js"></script>
    <script src="js/gsap.js"></script>
    <script src="js/gsap.min.js"></script>
    <script src="js/gsap-animation.js"></script>
    <script src="js/jquery-validate.js"></script> 
    <script src="js/jquery.prettyPhoto.js"></script>
    <script src="js/slick.min.js"></script>
    <script src="js/jquery-waypoints.js"></script>    
    <script src="js/numinate.min.js"></script>
    <script src="js/imagesloaded.min.js"></script>
    <script src="js/jquery-isotope.js"></script>
    <script src="js/circle-progress.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/aos.js"></script>
      <script>
        AOS.init({
            offset: 120,
            duration: 400,
        });
      </script>

    <!-- Revolution Slider -->    
    <script src='revolution/js/revolution.tools.min.js'></script>
    <script src='revolution/js/rs6.min.js'></script>
    <script src="revolution/js/slider.js"></script>
    <!-- Javascript end-->

</body>
</html>